<section class="todo-component">
	<h2 class="todo-component__title">Todo App</h2>

	<form #todoForm="ngForm">
		<input type="text"
			autocomplete="off"
			class="todo-input"
			name="newTodo"
			placeholder="Note something to do..."
			required
			[(ngModel)]="newTodo"
			#todoInput="ngModel"
			(keyup.enter)="todoInput.valid ? addTodo() : false; newTodo = ''; entered = true">

		<div class="todo-component__list" *ngIf="(todos$ | async).todos">
			<ul>
				<li *ngFor="let item of (todos$ | async).todos.slice().reverse(); trackBy: watchTodos" class="list-item">
					<input type="checkbox"
						class="list-item__check"
						[(ngModel)]="item.status"
						[ngModelOptions]="{standalone: true}"
						(click)="checkTodo(item)"
						*ngIf="!item.edit">

					<span class="list-item__title"
						[ngClass]="{'todo-item--checked': item.status}"
						*ngIf="!item.edit"
						(dblclick)="item.edit = !item.edit">
						<b>{{item.title}}</b>
					</span>

					<input type="text"
						autocomplete="off"
						class="list-item__edit-input"
						name="editTodo"
						placeholder="editing : {{item.title}}"
						required
						*ngIf="item.edit"
						[(ngModel)]="editTodoTitle"
						#editTodoInput="ngModel"
						(keyup.enter)="editTodoInput.valid ? editTodo(item.id, editTodoInput.value) : false; item.edit = !item.edit; editTodoTitle = ''">

					<span class="list-item__remove"
						(click)="removeTodo(item.id)"
						*ngIf="!item.edit">
						X
					</span>

					<span class="list-item__remove"
						(click)="item.edit = !item.edit"
						*ngIf="item.edit">
						&#8605;
					</span>
				</li>
			</ul>
		</div>

		<div class="button-container" *ngIf="(todos$ | async) && (todos$ | async).todos.length > 0">

			<button type="button"
				class="todo-component__clear"
				(click)="clearTodos()">
				Clear Todos
			</button>
		</div>
	</form>
</section>
